.formulario {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.formulario h2 {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 15px;
}

.empanada {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.formulario form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.listados {
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 1%;
}

.resumen-gustos ul {
  list-style: none;
  padding-left: 0;
  text-align: left;
}

.lista-personas {
  margin-top: 20px;
  text-align: left;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.titulo
{
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  margin-left: 35%;
  margin-right: 35%;
  border:1px solid black;
  border-radius: 5px;
}
.btnAgregar
{
  background-color: #4f46e5; /* Azul violeta */
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 30%;
  margin-right: 30%;
}
.btnAgregar:hover{
  background-color: #4338ca; /* Más oscuro al hacer hover */
  transform: translateY(-2px);
}
.btnAgregar:active
{
  transform: translateY(0);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

